
h1, h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 60px! important;
}

.contact, footer{
  text-align:center;
}

.login{
  position: absolute;
  right: 0;
  /* border-radius: 0px! important; */
}

.form{
  border-radius: 50px;
  margin: 15px! important;
}

.input-login {
  border-radius: 50px;
  margin: 15px! important;
  background-color: rgb(29, 29, 30);
  color: white;
  border: 1px solid white;
}

.login-button {
  margin: 15px! important;
}

.dropdown{
  padding-top: 10px;
}

.user-name {
  font-size: 50px;
}

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}


.book-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book-card {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 350px;
  margin: auto;
  background-color: rgb(181, 188, 181);
  padding: 20px;
  width: 300px;
  margin: 15px;
  /* box-sizing: border-box; */
  /* float: left; */
  text-align: left;
  cursor: pointer;
  padding: 20px;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 500px;
  max-height: 800px;
}

.book-card :hover {
  background-color: grey;
  transform: scale(1.03);
  transition: all 0.5s ease;
}


.book-card img{
  width: 100%;
  border: 2px solid gray;
  overflow: hidden;
  background-size: cover;
}

.custom-nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 130px;
  font-size: 25px;
}

.biblion-nav {
  font-size: 35px! important;
}

.loginform {
  display: flex;
  justify-content: end;
  padding-left: 10px;
}

.user-name-greeting {
  color: white;
}

.login-greeting{
  display: flex;
}
